{% extends "sitemestrado/index.html" %}
{% block title %}
<title> Criar nova notícia </title>
{% endblock %}

{% block content %}
<h2>
    {% load static %}
    <form action="{% url 'sitemestrado:criarnoticia' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <p>Título:  <input type="text" name="titulo"/></p>
            <p>Conteúdo:  <input type="text" name="conteudo"/></p>
            <p>Privada:   <input type="checkbox" name="privada"/></p>
            <p>Imagens:   <input type="file" name="imagens" multiple/></p>
            <!-- <p>Ficheiros:   <input type="file" name="ficheiros" multiple/></p> -->
        <input type="submit" value="Criar Notícia"/>
    </form>
</h2>

{% endblock %}