{% extends "sitemestrado/index.html" %}
{% load static %}

{% block title %}
  <title> {{ noticia.noticia_nome }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
<div class="bodycontent">
  <div class = "esq-imgs">
      <div class="esq-cima">
         {% if noticia.noticia_capa %}   
          <img src="{{ noticia.noticia_capa }}">
          {% endif %}
      </div>
      <div class="esq-baixo">
          {% if noticia.imagens.all %}
              {% for imagem in noticia.imagens.all %}
              <div class="imgamais">
                  <img src="{{ imagem.imagem }} ">
              </div>
              {% endfor %}
            {% endif %}
      </div>
  </div>
  <div class="direita">   
    <div class="title">
      <h1> Notícia: {{ noticia.noticia_nome }} </h1>
    </div>
    <div class="conteudo">
      <h2>{{ noticia.noticia_conteudo }}</h2>
    </div>
    <div class="info">
      <h3> {{ noticia.noticia_data_pub }} </h3>  
    </div>
    <div class="ficheiros">
      {% if noticia.ficheiros.all %}
        {% for ficheiro in noticia.ficheiros.all %}
          <h3> Download or open file: <a href="{{ ficheiro.ficheiro }}" target="_blank"> {{ ficheiro.ficheiro_nome }}</a> </h3> <br>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block footer %}
{% endblock %}