{% extends "sitemestrado/index.html" %}
{% block title %}
<title> {{ disciplina.disciplina_nome}} </title>
{% endblock %}

{% load static %}

{% block eventos-list %}
{% endblock %}

{% block content %}
<div class="noticias-title-and-button">
<p>Disciplina: {{disciplina.disciplina_nome}}</p>

<p>Professores: 
    {% for professor in disciplina.professores.all %}
      {% for user in users_list %}
        {% if user.id == professor.user_id %}
          <a href = "{% url 'sitemestrado:infooutrapessoa' professor.user_id %}"> {{ user.first_name }} {{ user.last_name }} </a>
        {% endif %}
      {% endfor %}
    {% endfor%}
</p>
</div>

<div style="padding-top: 67px">
  {% if post_list %}
    {% for post in post_list %}
      <div class="post-layout">
          <div class="post-capa">
          <a href="{% url 'sitemestrado:detalhepost' post.id %}">
          {% if post.post_capa %}
            <img src=" {{ post.post_capa }}">
          {% else %}
            <img src="{% static "/imagens/defaultnoticia.png" %}">
          {% endif %}
          </a>
          </div>
          <div class="post-container">
            <div class="post-nome-e-autor">
              <a href="{% url 'sitemestrado:detalhepost' post.id %}">
                <h1 style="margin: 0"> {{ post.post_nome }} </h1>
              </a>
                <h3 style="margin-top:0"> Publicado por <a href="{% url 'sitemestrado:infooutrapessoa' post.post_autor_id %}">{{ post.post_autor }} </a> </h3>
            </div>
            <div class="post-data">
              Data de publicação: {{ post.post_data_pub }}
            </div>
            <div class="post-conteudo">
              Texto: {{ post.post_conteudo }}
            </div>
            <div class="post-nr-respostas">
              Número de respostas: {{ post.post_nr_respostas }}
            </div>
          </div>
      </div>
    {% endfor %}
  {% else %}
    <h4> Ainda não houve posts publicados </h4>
  {% endif %}
  {%if request.user.is_staff%}
  <p>Adicionar Professor</p>  
  <form action="{% url 'sitemestrado:detalhedisc' disciplina.id %}" method="post" enctype="multipar t/form-data">
      {%csrf_token%}
      <p>removerProfesor:  <input type="number" name="removerProfesor"/></p>
      <p>adicionarProfesor:  <input type="number" name="adicionarProfesor"/></p>
      <input type="submit" value="Executar"/>
        </form>

    {% for user in users_list %}
      {% if user.aluno.is_professor%}
         {{user.id}} : {{user.first_name}} {{user.last_name}}
          <br>
        {%endif%}
      {% endfor %}
  {%endif%}


</div>
{%endblock%}

{% block searchbar %}
{% endblock %}

{% block footer %}
{% endblock %}