{% extends "sitemestrado/index.html" %}
{% block title %}
<title> {{ disciplina.disciplina_nome}} </title>
{% endblock %}

{% load static %}

{% block eventos-list %}
{% endblock %}

{% block content %}
<div class="noticias-title-and-button">
<p>Disciplina: {{disciplina.disciplina_nome}}</p>

<p>Professores: 
    {% for professor in disciplina.aluno.all %}
        <a href = "{% url 'sitemestrado:infooutrapessoa' professor.user_id %}"> {{ professor.user_first_name }} {{ professor.user_last_name }} </a>
    {% endfor%}
</p>
</div>

<div style="padding-top: 67px">
  {% if post_list %}
    {% for post in post_list %}
      <div class="post-layout">
        <a href="{% url 'sitemestrado:detalhepost' post.id %}">
          <div class="post-capa">
          {% if post.post_capa %}
            <img src=" {{ post.post_capa }}">
          {% else %}
            <img src="{% static "/imagens/defaultnoticia.png" %}">
          {% endif %}
          </div>
        </a>
          <div class="post-container">
            <div class="post-nome-e-autor">
              <a href="{% url 'sitemestrado:detalhepost' post.id %}">
                <h1 style="margin: 0"> {{ post.post_nome }} </h1>
              </a>
                <h3 style="margin-top:0"> Publicado por <a href="{% url 'sitemestrado:infooutrapessoa' post.post_autor_id %}">{{ post.post_autor }} </a> </h3>
            </div>
            <div class="post-data">
              Data de publicação: {{ post.post_data_pub }}
            </div>
            <div class="post-conteudo">
              Texto: {{ post.post_conteudo }}
            </div>
            <div class="post-nr-respostas">
              Número de respostas: {{ post.post_nr_respostas }}
            </div>
          </div>
      </div>
    {% endfor %}
  {% else %}
    <h4> Ainda não houve posts publicados </h4>
  {% endif %}
</div>
{%endblock%}

{% block searchbar %}
{% endblock %}