{% extends "sitemestrado/index.html" %}
{% load static %}

{% block title %}
  <title> {{ noticia.noticia_nome }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
    <h2> {{ noticia.noticia_nome }} </h2>

    <div class="noticia-autor" >
      <h3> <a href="{% url 'sitemestrado:infooutrapessoa' noticia.noticia_autor_id %}"> {{noticia.noticia_autor}}</a> </h3>
    </div>

    <h5> {{ noticia.noticia_data_pub }} </h5>

    {% if noticia.noticia_capa %}
      <img src="{{ noticia.noticia_capa }}" width="20%">
    {% endif %}
    <h2> {{ noticia.noticia_conteudo }} <h2>

    {% if noticia.imagens.all %}
      {% for imagem in noticia.imagens.all %}
        <img src="{{ imagem.imagem }}" width="20%">
        {% endfor %}
    {% endif %}
{% endblock %}

{% block searchbar %}
{% endblock %}