{% extends "sitemestrado/index.html" %} 

{% load static %}

{% block title %}
  <title> {{ evento.evento_nome }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
    <div class="bodycontent">
        <div class = "esq-imgs">
            <div class="esq-cima">
               {% if evento.evento_capa %}   
                <img src="{{ evento.evento_capa }}">
                {% endif %}
            </div>
            <div class="esq-baixo">
                {% if evento.imagens.all %}
                    {% for imagem in evento.imagens.all %}
                    <div class="imgamais">
                        <img src="{{ imagem.imagem }} ">
                    </div>
                    {% endfor %}
                  {% endif %}
            </div>
        </div>
        <div class="direita">   
          <div style="display:inline-block" class="title">
            <h1> {{ evento.evento_nome }} </h1>
          </div>
          <div style="display: inline-block; padding-left:1%;">
            {% if not evento.is_past_due %}
              {% if inscrito %}
                <form action="{% url 'sitemestrado:detalheevento' evento.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <input style="display: none" type="checkbox" name="inscr"/>
                  <input type="submit" value="Desinscrever"/>
                </form>
              {% else %}
                <form action="{% url 'sitemestrado:detalheevento' evento.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <input style="display: none" type="checkbox" name="inscr"/>
                  <input type="submit" value="Inscrever"/>
                </form>
              {% endif %}
            {% endif %} 
          </div>
          <div class="conteudo">
            <h2>{{evento.evento_conteudo}}</h2>
          </div>
          <div class="info">
            <h3> {{ evento.evento_local }} </h3>
            <h3> {{ evento.evento_data }} </h3>
            <h3> Inscritos: {{ evento.evento_nr_inscritos }} </h3>
          </div>
          <div class="ficheiros">
            {% if evento.ficheiros.all %}
              {% for ficheiro in evento.ficheiros.all %}
                <h3> Download or open file: <a href="{{ ficheiro.ficheiro }}" target="_blank"> {{ ficheiro.ficheiro_nome }}</a> </h3> <br>
              {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block footer %}
{% endblock %}