{% extends "sitemestrado/index.html" %}
{% load static %}

{% block title %}
  <title> {{ noticia.noticia_nome }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
    <h1> {{ noticia.noticia_nome }} </h1>

    <h5> {{ noticia.noticia_data_pub }} </h5>

    {% if noticia.noticia_capa %}
      <img src="{{ noticia.noticia_capa }}" width="20%">
    {% endif %}
    <h2> {{ noticia.noticia_conteudo }} <h2>

    {% if noticia.imagens.all %}
      {% for imagem in noticia.imagens.all %}
        <img src="{{ imagem.imagem }}" width="20%">
        {% endfor %}
    {% endif %}
{% endblock %}