{% extends "sitemestrado/index.html" %}
{% load static %}

{% block title %}
  <title> {{ evento.evento_nome }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
<div class="noticias-title-and-button">
    <h2> {{ evento.evento_nome }} </h2>
</div>

<div style="padding-top: 67px">
    <h5> {{ evento.evento_data }} </h5>
    <h4> {{ evento.evento_local }} </h4>
    {% if evento.evento_capa %}
      <img src="{{ evento.evento_capa }}" width="20%">
    {% endif %}
    <h2> {{ evento.evento_conteudo }} <h2>

    {% if request.user.is_authenticated %}
      {% if evento.is_past_due %}
        <form action="{% url 'sitemestrado:detalheevento' evento.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
              <input style="display: none" type="checkbox" name="inscr"/>
          <input type="submit" value="Inscrever"/>
        </form>
      {% endif %}
    {% endif %}
    {% if evento.imagens.all %}
      {% for imagem in evento.imagens.all %}
        <img src="{{ imagem.imagem }}" width="20%">
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block searchbar %}
{% endblock %}