{% extends "sitemestrado/index.html" %}
{% block title %}
<title> Disciplinas </title>
{% endblock %}
{%block searchbar%}
<form class='search-form' method=POST action ="{% url 'sitemestrado:searchdisciplina' %}">
  {% csrf_token %}
 <input type='search' placeholder='Search' name ="searched">
 <button class'search-btn' type='submit'>Search</button>
</form>  
{%endblock%}

{% block eventos-list %}
{% endblock %}

{% block content %}
<div class="noticias-title-and-button">
    <h2 style="display: inline-block"> Discplinas </h2> {% if request.user.is_staff %} <button class="buttons-default" onclick="window.open('criardisciplina','_self')"> Criar nova disciplina </button> {% endif %}
</div>
<div style="padding-top: 67px" class = "disciplinas-container">
    {% for disciplina in disciplinas_list %}
        <div class = "disciplina">
            <a href="{% url 'sitemestrado:detalhedisc' disciplina.id %}"> 
                <h3 style="display:inline-block"> {{ disciplina.disciplina_sigla }}</h3> -
                <h4 style="display:inline-block"> {{ disciplina.disciplina_nome }} </h4> 
            </a>
        </div>
    {%endfor%}
</div>
{% endblock %}

{% block footer %}
{% endblock %}
