{% extends "sitemestrado/index.html" %}
{% load static %}

{% block title %}
  <title> Fórum </title>
{% endblock %}

{% block searchbar %}
<!-- aquiiiiiiiiiiiiiiiiiiiiiiiiiii-->
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
<div class="noticias-title-and-button">
<h2 style="display: inline-block"> Fórum </h2> <button class="buttons-default" onclick="window.open('criarpost','_self')"> Criar post</button>
</div>
<div style="padding-top: 67px">
    {% if post_list %}
      {% for post in post_list %}
          <div class="post-layout">
            <a href="{% url 'sitemestrado:detalhepost' post.id %}">
            <div class="post-capa">
            {% if post.post_capa %}
             <img src=" {{ post.post_capa }}">
            {% else %}
             <img src="{% static "/imagens/defaultnoticia.png" %}">
            {% endif %}
            </div>
            </a>
            <div class="post-container">
              <div class="post-nome-e-autor">
                <a href="{% url 'sitemestrado:detalhepost' post.id %}">
                <h1 style="margin: 0"> {{ post.post_nome }} </h1>
                </a>
                <h3 style="margin-top:0"> Publicado por <a href="{% url 'sitemestrado:infooutrapessoa' post.post_autor_id %}">{{ post.post_autor }} </a> </h3>
              </div>
              <div class="post-data">
                Data de publicação: {{ post.post_data_pub }}
              </div>
              <div class="post-conteudo">
                Texto: {{ post.post_conteudo }}
              </div>
              <div class="post-nr-respostas">
                Número de respostas: {{ post.post_nr_respostas }}
              </div>
            </div>
          </div>
      {% endfor %}
    {% else %}
      <h1> Ainda não houve posts publicados </h1>
    {% endif %}
      </div>
{% endblock %}

