<!DOCTYPE>
<html>
    <head>
        {% load static %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"> 
         <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}"> 
        {%block title%}
        <title> A definir </title>
        {% endblock%}
    </head>
    <body>
      <div class="login-container" style="position: fixed; top:0; right:0;" >
          {% if request.user.is_authenticated %}
                    <div style="display: inline-block"> 
                      {{ user.get_username }} 
                    </div>
                    <div class="logo-container" style="display: inline-block"> 
                      <button class="buttons-default" onclick="window.open('logoutpage','_self')">Logout </button> 
                    </div>
                 {% else %}
                    <button class="buttons-default" onclick="window.open('loginpage','_self')"> Login</button>
                    <button class="buttons-default" onclick="window.open('registar','_self')"> Registar </button>
                {% endif %}
      </div>
      <header class="menu">
        <nav id='menu'>
          <ul>
            <li><a href="{% url 'sitemestrado:index' %}">Página Inicial</a></li>
            <li><a href="{% url 'sitemestrado:forum' %}">Fórum</a></li>
            <li><a href="{% url 'sitemestrado:eventos' %}">Eventos</a></li>
            <li><a class='dropdown-arrow' href="{% url 'sitemestrado:disciplinas' %}">Disciplinas</a>
              <ul class='sub-menus'>
                <li><a href='http://'>Disciplina 1</a></li>
                <li><a href='http://'>Disciplina 2</a></li>
                <li><a href='http://'>Disciplina 3</a></li>
              </ul>
            </li>
            <li><a href="{% url 'sitemestrado:infopessoal' %}">Informações Pessoais</a></li>
          </ul>
        </nav>
        {% block eventos-list %}
        <div class="eventos-absolute-container">
          <div class="eventos-title">
            <h2> Eventos <h2>
          </div>
          <div class="eventos-list-three">
            {% if three_eventos %}
             {% for evento in three_eventos %}
               {{ evento.evento_nome }}
             {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endblock %}
      </header>
      <div class="body-container">
        {% block content %}
        <div class="content-container">
          <div class="noticias-container-left">
            <div class="noticias-title-and-button">
              <div class="noticias-title">
                <h2> Notícias <h2>
              </div>  
              <div class="noticias-add-button">
                <button class="buttons-default" onclick="window.open('criarnoticia','_self')"> Criar notícia </button>
              </div>
            </div>
            <div class="noticias-list"> 
              {% if noticias_list %}
                {% for noticia in noticias_list %}
                  <div class="noticia-layout">
                    <div class="noticia-imagem">
                      <a href="{% url 'sitemestrado:detalhenoticia' noticia.id %}">
                        {% if noticia.imagens.all %}
                            <img src=" {{ noticia.imagens.all.last.imagem }}">
                        {% else %}
                            <img src="{% static "/imagens/defaultnoticia.png" %}">
                        {% endif %}
                      </a>
                    </div>
                    <div class="noticias-autor-data">
                      <div class="noticia-autor">
                        <!-- href para o paginauser com o noticia.noticia_autor_id -->
                          {{ noticia.noticia_autor }}

                      </div>
                      <div class="noticia-data">
                        {{ noticia.noticia_data_pub }}
                      </div>
                    </div>
                    <div class="noticia-nome">
                      <a href="{% url 'sitemestrado:detalhenoticia' noticia.id %}">
                        {{ noticia.noticia_nome }}
                      </a>
                    </div>
                  </div>
                  {% endfor %}
              {% else %}
                <p> Não há notícias de momento. </p>
              {% endif %}
            </div>
         </div>
          <div class="eventos-container-right">
          </div>
       </div>
       {% endblock %}
      </div>
    </body>
</html>