<!DOCTYPE>
<html>
    <head>
        {% load static %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"> 
         <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}"> 
         <link rel="shortcut icon" href="{% static '/imagens/favicon.ico' %}" type="image/x-icon">
        {%block title%}
        <title> A definir </title>
        {% endblock%}
    </head>
    <body>
      <div class="login-container" style="position: fixed; top:0; right:0; z-index:5" >
          {% if request.user.is_authenticated %}
                    <div style="display: inline-block"> 
                      {{ request.user.first_name }} {{ request.user.last_name }}
                    </div>
                    <div class="logo-container" style="display: inline-block"> 
                      {% if request.user.aluno.imagem %}
                        <img src="{{ request.user.aluno.imagem }}" height="25px">
                      {% else %}
                        <img src="{% static '/imagens/defaultprofilepic.png' %}" height="25px">
                      {% endif %}
                      <button class="buttons-default" onclick="window.open('logoutpage','_self')">Logout </button> 
                    </div>
                 {% else %}
                    <button class="buttons-default" onclick="window.open('loginpage','_self')"> Login</button>
                    <button class="buttons-default" onclick="window.open('registar','_self')"> Registar </button>
                {% endif %}
      </div>
      <div class="scroll-white-top">
      </div>
      <header class="menu">
        <nav id='menu'>
          <ul>
            <li><a href="{% url 'sitemestrado:index' %}">Página Inicial</a></li>
            <li><a href="{% url 'sitemestrado:forum' %}">Fórum</a></li>
            <li><a href="{% url 'sitemestrado:eventos' %}">Eventos</a></li>
            <li><a href="{% url 'sitemestrado:disciplinas' %}">Disciplinas</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'sitemestrado:infopessoal' %}">Informações Pessoais</a></li>
            {% endif %}
          </ul>
        </nav>
        {% block eventos-list %}
        <div class="eventos-absolute-container">
          <div class="eventos-list-three">
            {% if three_eventos %}
             {% for evento in three_eventos %}
             <a href="{% url 'sitemestrado:detalheevento' evento.id %}">
             <div class="evento-layout">
               <div class="evento-capa">
                {% if evento.evento_capa %}
                  <img src=" {{ evento.evento_capa }}">
                {% else %}
                  <img src="{% static '/imagens/defaultnoticia.png' %}">
                {% endif %}
               </div>
               <div class="evento-nome-and-data-container">
                  <h5 style="margin:0"> {{ evento.evento_data }} </h5>
                  <h3> {{ evento.evento_nome }} </h3>
                  <h4 style="margin:0"> {{ evento.evento_local }} </h4>
               </div>
              </div>
            </a>
             {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endblock %}
        <div class="searchbar-container">
          {%block searchbar%}
          <form class='search-form' method=POST action ="{% url 'sitemestrado:searchuser' %}">
            {% csrf_token %}
            <input style="height:25px" type='search' placeholder='Search' name ="searched">
          <button class'search-btn' type='submit'>Search</button>
          </form>   
          {%endblock%}
        </div>
      </header>
      <div class="body-container">
        {% block content %}
        <div class="content-container">
          <div class="noticias-container-left">
            <div class="noticias-title-and-button">
              <div class="noticias-title">
                <h2> Notícias <h2> 
              </div>    
              <div class="noticias-add-button">
                <button class="buttons-default" onclick="window.open('criarnoticia','_self')"> Criar notícia </button>
              </div>
              <div class="eventos-title">
                <a href="{% url 'sitemestrado:eventos' %}"> <h2 style="display: inline-block;"> Eventos </h2></a>
              </div> 
            </div>
            <div class="noticias-list"> 
              {% if noticias_list %}
                {% for noticia in noticias_list %}
                  <div class="noticia-layout">
                    <div class="noticia-imagem">
                      <a href="{% url 'sitemestrado:detalhenoticia' noticia.id %}">
                        {% if noticia.noticia_capa %}
                            <img src=" {{ noticia.noticia_capa }}">
                        {% else %}
                            <img src="{% static "/imagens/defaultnoticia.png" %}">
                        {% endif %}
                      </a>
                    </div>
                    <div class="noticias-autor-data">
                      <div class="noticia-autor" >
                        <a href="{% url 'sitemestrado:infooutrapessoa' noticia.noticia_autor_id %}"> {{noticia.noticia_autor}}</a>
                      </div>
                      <div class="noticia-data">
                        {{ noticia.noticia_data_pub }}
                      </div>
                    </div>
                    <div class="noticia-nome">
                      <a href="{% url 'sitemestrado:detalhenoticia' noticia.id %}">
                        {{ noticia.noticia_nome }}
                      </a>
                    </div>
                  </div>
                  {% endfor %}
              {% else %}
                <p> Não há notícias de momento. </p>
              {% endif %}
            </div>
         </div>
          <div class="eventos-container-right">
          </div>
       </div>
       {% endblock %}
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>