{% extends "sitemestrado/index.html" %}
{% block title %}
<title> Perfil de {{ outrapessoa.first_name }} {{ outrapessoa.last_name }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
    {% if outrapessoa.aluno.is_privado %}
      <h1> Perfil privado </h1>
    {% else %}
      {% if request.user.aluno.imagem %}
        <img src="{{ request.user.aluno.imagem }}" height="150px">
      {% elif request.user.professor.imagem %}
        <img src="{{ request.user.professor.imagem }}" height="150px">
      {% else %}
      <img src="{% static '/imagens/defaultprofilepic.png' %}" height="150px">
      {% endif %}
      <h1 style="display: inline-block"> Nome: {{ request.user.first_name }} {{ request.user.last_name }} </h1>
      <h4> Email: {{ request.user.email }} </h4>
      {% if request.user.aluno %}
        <h4> Área de trabalho: {{ request.user.aluno.area_trab }} </h4>
        <h4> LinkedIn: <a style="color: -webkit-link; text-decoration: underline;" href="{{ request.user.aluno.linkedin }} target=" target="_blank"> {{ request.user.aluno.linkedin }} </a> </h4>
      {% endif %}
    {% endif %}
{% endblock %}

{% block searchbar %}
{% endblock %}