{% extends "sitemestrado/index.html" %}
{% block title %}
<title> Perfil de {{ outrapessoa.first_name }} {{ outrapessoa.last_name }} </title>
{% endblock %}

{% load static %}

{% block eventos-list %}
{% endblock %}

{% block content %}
    {% if outrapessoa.aluno.is_privado %}
      <h1> Perfil privado </h1>
    {% else %}
      {% if outrapessoa.aluno.imagem %}
        <img src="{{ outrapessoa.aluno.imagem }}" height="150px">
      {% elif outrapessoa.professor.imagem %}
        <img src="{{ outrapessoa.professor.imagem }}" height="150px">
      {% else %}
      <img src="{% static '/imagens/defaultprofilepic.png' %}" height="150px">
      {% endif %}
      <h1 style="display: inline-block"> Nome: {{ outrapessoa.first_name }} {{ outrapessoa.last_name }} </h1>
      <h4> Email: {{ outrapessoa.email }} </h4>
      {% if outrapessoa.aluno %}
        <h4> Área de trabalho: {{ outrapessoa.aluno.area_trab }} </h4>
        <h4> LinkedIn: <a style="color: -webkit-link; text-decoration: underline;" href="{{ outrapessoa.aluno.linkedin }} target=" target="_blank"> {{ outrapessoa.aluno.linkedin }} </a> </h4>
      {% endif %}
      {% if request.user.is_staff %}
        {% if outrapessoa.aluno}
      <button class="buttons-default" href="{% url 'sitemestrado:alterarparaprof' outrapessoa %}"></button>> Tornar professor </button>
        {%elif outrapessoa.professor}
      <button class="buttons-default" href="{% url 'sitemestrado:alterarparaprof' outrapessoa %}"></button>> Tornar aluno</button>
      {%endif%}
    {% endif %}
{% endblock %}

{% block searchbar %}
{% endblock %}