{% extends "sitemestrado/index.html" %}
{% block title %}
<title> Perfil de {{ outrapessoa.first_name }} {{ outrapessoa.last_name }} </title>
{% endblock %}

{% block eventos-list %}
{% endblock %}

{% block content %}
    {% if outrapessoa.aluno.is_privado %}
      <h1> Perfil privado </h1>
    {% else %}
    <h1> Nome: {{ outrapessoa.first_name }} {{ outrapessoa.last_name }} </h1>
    <h4> Email: {{ outrapessoa.email }} </h4>
    {% if outrapessoa.aluno %}
      <h4> Área de trabalho: {{ outrapessoa.aluno.area_trab }} </h4>
      <h4> LinkedIn: <a style="color: -webkit-link; text-decoration: underline;" href="{{ outrapessoa.aluno.linkedin }} target=" target="_blank"> {{ outrapessoa.aluno.linkedin }} </a> </h4>
    {% endif %}
    {% endif %}
{% endblock %}