<!DOCTYPE html>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 
<head>
    <meta charset="utf-8">
    <title>Login</title>

</head>

<body>
    <div class = center>
        <h1>Login</h1>
            <form action="{% url 'sitemestrado:loginpage' %}" method="POST">
                {% csrf_token %}
                <div class="txt_field">
                    <input type="text" name="username" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Password?</div>
                  <input type="submit" value="Login">
                    <div class="signup_link">
                        <a href="{% url 'sitemestrado:registar'%}"> Criar Conta</a>
                    </div>
                    <div class="signup_link">
                        <a href="{% url 'sitemestrado:index' %}">Voltar à página inicial</a>
                    </div>
                </div>
            </form>
    </div>
</body>