{% extends "sitemestrado/index.html" %}

{% block title %}
  <title> Resultado da pesquisa </title>
{% endblock %}
{%block searchbar%}
<form class='search-form' method=POST action ="{% url 'sitemestrado:searcheventos' %}">
  {% csrf_token %}
 <input type='search' placeholder='Search' name ="searched">
 <button class'search-btn' type='submit'>Search</button>
</form>  
{%endblock%}

{% block eventos-list %}
{% endblock %}

{% block content %}
{%if searched %}
<h1> You Search For {{searched}}</h1>
{% for evento in lista_eventos %}
<a href="{% url 'sitemestrado:detalheevento' evento.id %}">
    <div style="display:inline-block">
      <h1> Evento: {{ evento.evento_nome }} | </h1>
    </div> 
    <div style="display:inline-block">
      <h3> {{ evento.evento_data }} </h3>
    </div>
</a>
<br>
{% endfor %}
{%else%}
    <h1>No Search</h1>
{%endif%}
{% endblock %}

{% block footer %}
{% endblock %}
