{% extends "sitemestrado/index.html" %}

{% block title %}
  <title> Resultado da pesquisa  </title>
{% endblock %}

{%block searchbar%}
<form class='search-form' method=POST action ="{% url 'sitemestrado:searchpost' %}">
  {% csrf_token %}
 <input type='search' placeholder='Search' name ="searched">
 <button class'search-btn' type='submit'>Search</button>
</form>  
{%endblock%}

{% block eventos-list %}
{% endblock %}

{% block content %}
{%if searched %}
<h1> Resultados da pesquisa: </h1>
<div>
    {% if lista_post %}
      {% for post in lista_post %}
      <a href="{% url  'sitemestrado:detalhepost' post.id %}">
      <div style="display:inline-block">
        <h1> Post: {{ post.post_nome }} | </h1> 
      </div>
      <div style="display:inline-block">
        <h2> Publicado por: {{ post.post_autor }} </h2>
      </div>
  </a>
  <br>
  {% endfor %}
  {% endif %}
{%else %}
    <h1>No Search</h1>
{%endif%}
{% endblock %}

{% block footer %}
{% endblock %}
