{% extends "sitemestrado/index.html" %}

{% block title %}
  <title> Resultado da pesquisa  </title>
{% endblock %}
{%block searchbar%}
<form class='search-form' method=POST action ="{% url 'sitemestrado:searchdisciplina' %}">
  {% csrf_token %}
 <input type='search' placeholder='Search' name ="searched">
 <button class'search-btn' type='submit'>Search</button>
</form>  
{%endblock%}

{% block eventos-list %}
{% endblock %}

{% block content %}
{%if searched %}
<h1> Resultados da pesquisa: </h1>
    {% for disciplina in lista_disciplina%}
    <div class = "disciplina">
        <a href="{% url 'sitemestrado:detalhedisc' disciplina.id %}"> <h4>{{ disciplina.disciplina_nome }} </h4> </a>
    </div>
    {%endfor%}
{%else%}
    <h1>No Search</h1>
{%endif%}
{% endblock %}

