{% extends "sitemestrado/index.html" %}

{% block title %}
  <title> Resultado da pesquisa  </title>
{% endblock %}

{% load static %}

{%block searchbar%}
<form class='search-form' method=POST action ="{% url 'sitemestrado:searchuser' %}">
  {% csrf_token %}
 <input type='search' placeholder='Search' name ="searched">
 <button class'search-btn' type='submit'>Search</button>
</form>  
{%endblock%}

{% block eventos-list %}
{% endblock %}

{% block content %}
{%if searched %}
<h1> Resultados da pesquisa: </h1>
    {% for user in listausers %}
    <a href="{% url  'sitemestrado:infooutrapessoa' user.id %}">
        <div style="display:inline-block">
          {% if user.aluno.imagem %}
            <img src="{{ user.aluno.imagem }}" height="100px">
          {% else %}
            <img src="{% static '/imagens/defaultprofilepic.png' %}" height="100px">
          {% endif %}
        </div>
        <div style="display:inline-block">
          <h1> {{user.first_name }} {{user.last_name }} </h1>
        </div>
    </a>
    <br>
    {%endfor%}
{%else%}
    <h1>No Search</h1>
{%endif%}
{% endblock %}

{% block footer %}
{% endblock %}
